*.iml
.gradle
local.properties

# Android Studio / IntelliJ
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/migrations.xml
/.idea/AndroidProjectSystem.xml

# Kotlin build cache
.kotlin/

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# macOS
.DS_Store
